doctype html
html
    head
        meta(charset="utf-8")
        title Movie Store App
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap/dist/css/styles.css")
    body
        include _partials/_nav.pug
        .container
            block body
        script(type="text/javascript", src="/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/bootstrap/dist/js/bootstrap.js")
