extends layout.pug
block body
    h2 REGISTRATION
    form(action="/users/register", method="post")
        .form-group
            label(for="name") Name:
            input#name.form-control(type="text", name="name")
            label(for="email") Email:
            input#email.form-control(type="email", name="email")
            label(for="username") Username:
            input#username.form-control(type="text", name="username")
            label(for="password") Password:
            input#password.form-control(type="password", name="password")
            label(for="password2") Confirm Password:
            input#password2.form-control(type="password", name="password2")
        input.btn.btn-primary(type="submit", value="Submit")
